body, html {
    height: auto;
    background-color: #D975D7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1em;
    background-image: url(palm_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .nice-box {
    position: absolute;
    top: 15%;
    left: 25%;
    padding-left: 35px;
    padding-right: 35px;
    color:#f0dda9;
    background-color: rgba(180, 130, 160, .4);
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    backdrop-filter: blur(10px);
  }
  .corner-image {
    right: 10px;
    top: 10px;
    position: fixed;
    width: 10%;
    
  }
  .strong {
    font-weight: 600;
    font-size: 1.5em;
    color:#f3b814;
  }
  h1 {
    font-size: 3em;
    font-weight: 400;
  }
  h2 {
    color: rgb(255, 217, 0);
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-size: 3em;
  }
  .card {
    border: 2px solid #f0dda9;
    border-radius: 8px;
    margin: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }